@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: "Poppins", Calibri;
}

h1 {
    margin: 0;
}

#boxesWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    border: 2px solid lightskyblue;
    box-shadow: 0 0 1rem lightskyblue;
    border-radius: 1rem;
}

#bigBox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

#loc {
    max-width: 20rem;
    word-wrap: break-word;
}

img:not(#iconTemp) {
    height: 4rem;
    padding: 1rem;
}
#iconTemp {
    height: 6rem;
}

#input, #inputBtn {
    font-family: "Poppins", Calibri;
    font-size: 1rem;
    padding: .5rem;
    outline: none;
    background-color: transparent;
    border: 2px solid lightskyblue;
    box-shadow: 0 0 .5rem lightskyblue;
    border-radius: .5rem;
    transition: .3s;
}

#input {
    width: 10rem;
}
#input:not(:placeholder-shown), #input:hover, #input:focus {
    width: 15rem;
}

#inputBtn:hover {
    cursor: pointer;
    background-color: lightskyblue;
    /* transform: translateY(-2px); */
}

.notf {
    font-size: 1rem;
    position: fixed;
    top: -10rem;
    padding: 1rem;
    background-color: lightskyblue;
    border-radius: 1rem;
    animation: showUp 5s;
}

@keyframes showUp {
    0% {
        top: -10rem;
    } 25% {
        top: 2rem;
    } 75% {
        top: 2rem;
    } 100% {
        top: -10rem;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}